* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  height: 100vh;
  max-height: 100vh;
  background-color: #282c34;
}

.App-header {
  color: white;
}
.App-main {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}