.explore-Root{
    height: 95vh;
    width: 100%;
}

.explore-Main {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, 20rem);
    overflow-y: scroll;
}

.completeList {
    background-color: white;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}