.webpage-Root{
    height: 95vh;
    width: 100%;
    background-color: #0b132b;
}
.webpage-Main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0b132b;
    color: white;
    font-size: 1.4rem;
} 
h1 .webpage-Main {
    background-color: #0b132b;
    color: white;
    font-size: 1.4rem;
}
h3 .webpage-Main {
    background-color: #0b132b;
    color: white;
    font-size: 1.2rem;
}
.webpage-Main h3 h4{
    justify-content: center;
    color: white;
    background-color: #3A506B;
    font-size: 1.2rem;
    cursor: pointer;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.webpage-Data {
    display: grid;
    margin-left: 15%;
    margin-right: 15%;
    max-width: 70%;
    background-color: #0b132b;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-row-gap: 5px;
}
.listItem-Root {
    background-color: #282c34;
    height: 20rem;
    width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    min-height: 300px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-radius: 5px;
}
.listItem-Cover {
    grid-area: 1 / 1 / 9 / 4;
    background-color: #394e7c;
    color: white;
    font-size: 1.4rem;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.listItem-Title {
    grid-area: 1 / 4 / 3 / 9;
    background-color: #6FFFE9;
    color: black;
    font-size: 2rem;
    cursor: text;
    border-radius: 5px;
}

.listItem-Desc {
    grid-area: 3 / 4 / 9 / 9;
    overflow-y: scroll;
    background-color: #5BC0BE;
    color: black;
    font-size: 1.4rem;
    cursor: text;
    border-radius: 5px;
}