.list-Root {
    margin: 0;
    padding: 0;
    border-radius: 10px;
    display: grid;
    height: 95vh;
    min-width: 400px;
    width: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    background-color: white;
    border: solid black 1px;
    overflow-y: scroll;
}
.list-Header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #293e6d;
    color: white;
    font-size: 1.4rem;
}
.list-Header img {

    font-size: 1rem;
}
.createBtn { 
    height: 4em;
    width: 4em;
    cursor: pointer;
}
.list-Main {

}
.list-Footer {

}