.list-Root {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    display: flex;
    width: 70%;
    justify-content: center;
    flex-direction: column;
    background-color: #0b132b;
}
.list-Header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    max-width: 100%;
    justify-content: center;
    background-color: #1c2541;
    color: white;
    font-size: 1.3rem;
    padding: 1.5em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.list-Header img {
    font-size: 1rem;
    max-width: 100%;
}
.createBtn { 
    min-width: fit-content;
    padding: .4em;
	margin: 0.5em;
	background-color: #6FFFE9;
    color: black;
	border: 0;
	border-radius: 5px;
	font-size: 25px;
    cursor: pointer;
    max-width: 100%;
}
.createBtn:hover {
    background-color: #5BC0BE;
}
.addGameBtn {
    padding: .4em;
	margin: 0.5em;
	background-color: #6FFFE9;
    color: black;
	border: 0;
	border-radius: 5px;
	font-size: 1em;
    cursor: pointer;
    max-width: 100%;
}
.addGameBtn:hover {
    background-color: #5BC0BE;
}
.username{
    background-color: #3A506B;
    color: white;
    border-radius: 10px;
    max-width: 100%;
}
.title{
    background-color: #3A506B;
    color: white;
    border-radius: 10px;
    max-width: 100%;
}