.item-Root {
    background-color: grey;
    height: fit-content;
    width: 100%;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    min-height: 300px;
}
.item-Header {
    cursor: grab;
    background-color: rgb(192, 140, 240);
}
.item-Header:active {
    cursor: grabbing;
}
.item-Main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 15em;
    width: 100%;
}
.itemImage { 
    grid-area: 1 / 1 / 9 / 4;
    background-color: khaki;
    height: 100%;
    width: 100%;
}
.itemTitle { 
    grid-area: 2 / 4 / 3 / 9;
    background-color: rgb(143, 240, 140);
    overflow-y: hidden;
}
.itemDesc {
    grid-area: 3 / 4 / 9 / 9;
    background-color: rgb(240, 140, 235);
    overflow-y: scroll;
}
.itemSearchForm {
    grid-area: 1 / 4 / 2 / 9;
    height: 100%;
    width: 100%;
    background-color: rgb(140, 195, 240);
    cursor: text;
}
.itemSearch {
    height: 100%;
    width: 100%;
    background-color: rgb(140, 195, 240);
    cursor: text;
}
/* .itemReview { 
    grid-area: 6 / 1 / 9 / 8;
    background-color: rgb(240, 140, 235);
    cursor: text;
} */