.list-Root {
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    display: grid;
    height: 91vh;
    width: 70%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    background-color: #1b253a;
    overflow-y: scroll;
}
.list-Header {
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-width: fit-content;
    justify-content: center;
    background-color: #293e6d;
    color: white;
    font-size: 1.4rem;
}
.list-Header img {
    font-size: 1rem;
}
.createBtn { 
    padding: 5px 15px;
	margin: 0.5em;
	background-color: white;
    color: black;
	border: 0;
	border-radius: 5px;
	font-size: 25px;
    cursor: pointer;
}
.addGameBtn {
    padding: 5px 15px;
	margin: 0.5em;
	background-color: white;
    color: black;
	border: 0;
	border-radius: 5px;
	font-size: 25px;
    cursor: pointer;
}
.username{
    background-color: #1b253a;
    color: white;
    border-radius: 10px;
}
.title{
    background-color: #1b253a;
    color: white;
    border-radius: 10px;
}